<div class="footer">
    <div class="f1">
        <a href="{:U('Inedex/index')}" class="active">
            <img src="__IMG__/icon-index.png" alt="" />
            <p style="color:#333;">首页</p>
        </a>
    </div>
    <div class="f2">
        <a href="{:U('Openprize/index')}">
            <img src="__IMG__/icon-flows.png" alt="" />
            <p style="color:#C22631;">走势图</p>
        </a>
    </div>
    <div class="f3">
        <a href="{:U('Index/topsort')}">
            <img src="__IMG__/icon-order.png" alt="" />
            <p>排行榜</p>
        </a>
    </div>
    <div class="f3">
        <a href="{:U('My/index')}">
            <img src="__IMG__/icon-person.png" alt="" />
            <p>个人中心</p>
        </a>
    </div>
    
    
</div>