<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, target-densitydpi=284, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>购买记录</title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/purchase_record.css">
    <script src="__JS__/jquery-1.9.1.min.js"></script>
    <style>
        .nomore{
            width: 100%;
            margin-top: 100px;
            text-align: center;
        }
        .nomore p{
            font-size: 24px;
            color:gray;
            line-height: 50px;
        }
    </style>
</head>
<body>
    <if condition="count($list) gt 1">
    <volist name="list" id="vo">
        <div class="purchase_content">
            <div class="purchase_left"><img src="{$vo.goods_detail.cover_id|get_cover='path'}" alt=""></div>
            <div class="purchase_right">
                <div class="purchase_right_title">{$vo.goods_detail.title}</div>
                <div class="purchase_right_choose">我的选择：<span>{$vo.num}单 {$vo.type}</span></div>
                <div class="purchase_right_choose">参与时间：{$vo.create_time|date='Y/m/d H:i:s', ###}</div>
                <div class="purchase_right_choose">开奖时间：{$vo.lottery_time}</div>
            </div>
        </div>
    </volist>
    <else />
    <div class="nomore">
        <p>您还没有购买过任何产品哦</p>
        <p>快<a href="{:U(Index/index)}">点击这里</a>去逛逛吧</p>
    </div>
    </if>
   
    <div style="height:8rem;width:100%;"></div>

    <div class="menu_fixed">
        <div class="bottom_menu" id="main">
            <span class="menu_bottom_img"><img src="__IMG__/icon-main.png" alt=""></span>
            <span class="menu_bottom_font">首页</span>
        </div>
        <div class="bottom_menu" id="flow">
            <span class="menu_bottom_img"><img src="__IMG__/icon-flow.png" alt=""></span>
            <span class="menu_bottom_font">走势图</span>
        </div>
        <div class="bottom_menu" id="order">
            <span class="menu_bottom_img"><img src="__IMG__/icon-order.png" alt=""></span>
            <span class="menu_bottom_font">排行榜</span>
        </div>
        <div class="bottom_menu" id="personal">
            <span class="menu_bottom_img"><img src="__IMG__/icon-person-red.png" alt=""></span>
            <span class="menu_bottom_font font-red">个人中心</span>
        </div>
    </div>
</body>
</html>
<script>
    $("#main").click(function(){
        window.location.href='{:U('Index/index')}';
    });
    $("#flow").click(function(){
        window.location.href='{:U('Openprize/index')}';
    });
    $("#order").click(function(){
        window.location.href='{:U('Index/topsort?t=to')}';
    });
    $("#personal").click(function(){
        window.location.href='{:U('My/index')}';
    });
</script>