<extend name="Public/base" />
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>代理商列表</h2>
    </div>
    <div class="cf">
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户名">
            </div>
             <div class="sleft">
                <input type="text" name="mobile" class="search-input" value="{:I('mobile')}" placeholder="请输入手机号">
            </div>           
            <a class="sch-btn" href="javascript:;" id="search" url="{:U('agentlist')}"><i class="btn-search"></i></a>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
                <th class="">UID</th>
                <th class="">电话</th>
                <th class="">用户名</th>
                <th class="">公司名</th>
                <th class="">地址</th>
                <th class="">加入时间</th>
               <th class="">分成比例</th>
               <th class="">分成类型</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                        <td>{$vo.uid}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.company}</td>
                        <td>{$vo.address}</td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                         <td><span>{$vo.ratio}</span></td>
                        
                            <if condition = "$vo.ratio_type eq 1">
                              　 <td><span>正常分成 </span></td>
                              <else/>
                                <td><span>利润分成</span></td>
                            </if>
                           
                        <td>
                        
							<a title="购买记录" href="{:U('AgentManage/childset?aid='.$vo['id'])}">设置分成</a>
                          <!--  <a title="兑换记录" href="{:U('/Control/Bidding/exchange?uid='.$vo['uid'].'&nickname='.$vo['nickname'])}">兑换记录</a>
                            -->
                           <a title="查看代理信息" href="{:U('orderlist?pid='.$vo['uid'])}">查看业绩</a> 
							<a title="分享会员" href="{:U('childlist?aid='.$vo['uid'])}">下级代理</a>
                          
                          
                        </td>
                    </tr>
                </volist>
                <else />
                <td colspan="8" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url   = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query     = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g , '');
            query     = query.replace(/^&/g , '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('User/daili')}");
    </script>
</block>