html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background:#eeeeee;
}

input,
textarea,
button,
a {
    outline: 0;
    text-decoration:none;
    color:#4A90E2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea {
    margin: 0
}

fieldset,
legend,
textarea,
input {
    padding: 0
}

ul,
ol {
    padding-left: 0;
    list-style-type: none
}

a img,
fieldset {
    border: 0
}
.menu_fixed{
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    left:0;
    background: #FFFFFF;
    box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.10);
}
.bottom_menu{
    width:25%;
    height:100%;
    float:left;
    text-align: center;
}
.menu_bottom_img{
    display: block;
    width:38px;
    height:38px;
    margin-left:74px;
    margin-top:14px;
}
.menu_bottom_font{
    font-size: 28px;
    color: #3C3C3C;
    letter-spacing: -0.48px;
}
.font-red{
    color:#C22631;
}