body{ font-family: "microsoft yahei"; background-color:#f8f9fd;}
ul,ol {list-style-type:none}
li{*vertical-align:top;}
div,a,p,b,em,i,strong,span,img,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;}
.content{
	width: 750px;
	margin-bottom: 110px;
}
i{color:#C22631;font-style:normal;}
.list{
	width: 100%;
	height: 88px;
	background-color: #ffffff;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.20);
	position: fixed;
	top:0px;
}
.list .list-type{
	display: inline-block;
	float: left;
	width: 50%;
	height: 88px;
	font-family: .PingFangSC-Regular;
	font-size: 32px;
	color: #3C3C3C;
	letter-spacing: -0.48px;
	text-align: center;
	line-height: 88px;
}
.list .list-active{
	color:#F5A623;
	border-bottom: 2px solid #F5A623;
}

.listmsg{
	width: 100%;
	margin-top: 100px;
}
.content .daylist-active{
	display: block;
}
.top{
	width: 722px;
	height: 193px;
	margin-left: 14px;
	background-color: #ffffff;
}
.top-left{
	width: 100px;
	height: 97px;
	margin: 0px;
	float: left;
}
.top-right{
	width: 600px;
	float: right;
	position: relative;
	top: 0px;
}
.tr1{
	width: 100%;
	height: 130px;
}
.tr1 .tr-img{
	width: 108px;
	height: 108px;
	border-bottom: 50%;
	position: absolute;
	left: 180px;
	top:15px;
	z-index: 10;
}
.tr1 .tr-img2{
	position: absolute;
	left: 120px;
	top:100px;
	z-index: 12;
}
.tr1 .tr-name{
	position: absolute;
	display: inline-block;
	top: 100px;
	left: 150px;
	z-index: 15;
	font-size: 24px;
	color: #fff;
	width: 170px;
	text-align: center;
	}
.top-buy{
	position: absolute;
	width: 170px;
	top:140px;
	left: 145px;
	font-size: 26px;
	color: #3C3C3C;
	letter-spacing: -0.45px;
	text-align: center;
}
ul{
	width: 100%;
	margin-top: 10px;
}
ul li{
	width: 722px;
	height: 162px;
	margin-left: 14px;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
	border-radius: 5px;
	margin-top: 10px;
}
.top2 .top2-left{
	width: 100px;
	height: 97px;
	float:left;
}
.top2 .top2-num{
	width: 100px;
	height: 100%;
	float: left;
	line-height: 162px;
	font-family: .PingFangSC-Regular;
	font-size: 24px;
	color: #C22631;
	letter-spacing: -0.41px;
	text-align: center;
}
.top2 .top2-right{
	float: left;
	width: 600px;
	height: 100%;
}
.top2-right .tr2-img{
	float: left;
	width: 108px;
	height: 108px;
	border-radius: 50%;
	margin-top: 27px;
}
.tr2-img img{
	width: 108px;
	height: 108px;
	border-radius: 50%;
}
.top2-right .tr2-word{
	width: 492px;
	height: 100%;
	float: left;
}
.tr2-word .nickname{
	font-family: PingFangSC-Regular;
	font-size: 32px;
	color: #3C3C3C;
	letter-spacing: -0.55px;
	margin-top: 40px;
	margin-left: 40px;
	line-height: 45px;
}
.tr2-word .nicknum{
	font-family: PingFangSC-Regular;
	font-size: 26px;
	color: #3C3C3C;
	letter-spacing: -0.45px;
	margin-top: 5px;
	margin-left: 40px;
}





























