.money{
    width:100%;
    height:202px;
    font-size: 144px;
    color: #C22631;
    letter-spacing: -3.47px;
    text-align: center;
    line-height:144px;
    margin:auto;
    margin-top:182px;
}
.money_yu{
    width:100%;
    height:33px;
    text-align: center;
    font-size: 24px;
    color: #C22631;
    letter-spacing: -0.58px;
    margin-bottom:20px;
}
.save_btn{
    width:540px;
    height:100px;
    background: #C22631;
    margin:auto;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: -0.82px;
    text-align: center;
    line-height:100px;
    margin-top:40px;
}